# no backup files, editor temp
*~
\#*
*.bak
.idea/
.buildpath
.project
.settings
xoops_trust_path/uploads/xelfinder/*
xoops_trust_path/modules/xelfinder/plugins/vendor
xoops_trust_path/modules/xelfinder/plugins/.composer
html/modules/xelfinder/cache/*_manager.js
html/modules/xelfinder/cache/.metaCache_*
html/modules/xelfinder/cache/tmb/*.png

